<div
  id=""
  class="bordergray flex"
  style="border:1px solid #eee,border-radius: 4px;color:#333333;height:65px;background:#01579b;align-items:center;padding-left:20px;color:white;"
>
  <div style="color:white;font-size:25px">
    <!-- <i class="fas fa-wreath" style="font-size:25px;color:white"></i>CRM -->
    <img
      src="https://e7.pngegg.com/pngimages/361/627/png-clipart-leaf-logo-green-leaves-green-and-teal-leaf-logo-text-maple-leaf.png"
      alt=""
      class="circle"
      style="width:50px;height:50px"
    />
    CRML
  </div>
  <div
    id=""
    class="bordergray flex"
    style="border:1px solid #eee,border-radius: 4px;color:#333333;margin-left:auto;color:white "
  >
    <ol>
      <li>ข้อมูลหลัก</li>
      <li>Transaction</li>
      <li>Report</li>
      <li>สมาชิก</li>
    </ol>
  </div>

  <div
    id=""
    class="bordergray flex"
    style="border:1px solid #eee,border-radius: 4px;color:white;margin-left:auto;margin-right:10px "
  >
    <img
      src="https://w7.pngwing.com/pngs/902/963/png-transparent-business-automobile-salesperson-human-resource-management-xing-business-blue-human-resource-management-people-thumbnail.png"
      class="img-fluid"
      style="width:30px;height:30px;border-radius:50%"
    />&nbsp;&nbsp; เอกชัย คล้ายนิ่ม
  </div>
</div>
