.mTable {
  border: 1px solid lightgray;
}
.mTable td {
  padding: 5px;
}

.mTable tr:nth-child(even) {
  background: #ccc;
}
.mTable tr:nth-child(odd) {
  background: #fff;
}
.mTable tr:hover {
  background-color: #dae4f0;
}
.captionTableSearch {
  background-color: #01579b ;
  color: white;
  height: 35px;
  padding: 10px;
}

.tableFixHead {
  overflow-y: auto;
  height: 106px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}