<h2>universalMaster</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="padding:20px">
  Value: {{ myForm.value | json }}
  <!-- <button (click)="getByID()">Get ByID</button> -->
  Mode: {{ FormMode }}
  <div class="modal-content" id="myModal" *ngIf="stageForm">
    <div class="modal-header" style="background-color:lightgrey">
      <h5 class="modal-title" id="exampleModalLabel">{{ formTitle }}</h5>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
       

<!-- รหัสส่วนลด -->
<div class="mt-3"> 
     <input type="hidden" class="form-control" formControlName="id" id="exampleFormControlInput1" placeholder="">
</div>


<!-- universalListID -->
<div class="mb-3">
   <label for="exampleFormControlInput1" class="form-label">universalListID</label>
   <div class="dropdown">
      <!-- 
	  <app-boutselect
	    [Title]="'universalListID'"
        [apiPathInput]="'universalList'"
        [dataInit]="dataInit"
        [ModelName]="'universalList'"
        [HaveChild]="'n'"
		
      >		
      </app-boutselect>
	   -->

	  <app-out-select-searchlocal
	    [Title]="'universalListID'"
        [apiPathInput]="'universalList'"
        [dataInit]="dataInit"
        [modelname]="'universalList'"
        [HaveChild]="'n'"
		(mylistchange)="reciveOutSelect($event, 'universalListID')"
		
      >		
      </app-out-select-searchlocal>

   </div>
</div> 



<!-- รหัส -->
<div class="mt-3"> 
     <label for="exampleFormControlInput1" class="form-label" style="">
          รหัส<span class="text-danger">***</span>
     </label>
     <input type="text" class="form-control" formControlName="code" id="exampleFormControlInput1" placeholder="">
</div>
<span class="text-danger" 
*ngIf="f.code.touched && f.code.errors?.required"> กรุณาป้อนค่า รหัส </span>

<!-- ชื่อ -->
<div class="mt-3"> 
     <label for="exampleFormControlInput1" class="form-label" style="">
          ชื่อ<span class="text-danger">***</span>
     </label>
     <input type="text" class="form-control" formControlName="fieldDESC" id="exampleFormControlInput1" placeholder="">
</div>
<span class="text-danger" 
*ngIf="f.fieldDESC.touched && f.fieldDESC.errors?.required"> กรุณาป้อนค่า ชื่อ </span>
    </div>
    <div class="modal-footer">
	   <button type="button" class="btn btn-secondary" (click)="newForm()">
           เริ่มใหม่ 
      </button>   
	   <button type="button" class="btn btn-secondary" (click)="setFormDataTest()">
         สร้างข้อมูลทดสอบ 
      </button>   
      <button type="button" class="btn btn-secondary" (click)="closeForm()">
        ออก
      </button>  
      <button type="submit" class="btn btn-primary">บันทึก</button>
    </div>
  </div>
  <!-- <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
      Register  
    </button>
    
    
  </div> -->
</form>
<!-- <app-searchselect></app-searchselect> -->
<hr />
<div class="flex" style="display:flex" *ngIf="stageCrud">
  <button
    class="btn btn-primary"
    placement="bottom"
    ngbTooltip="Delete"
    (click)="setStageForm();newForm()"
    style="margin-left:auto;margin-right:10px"
  >
    เพิ่มข้อมูล
  </button>
</div>

<!-- สถานะ :: {{ stageCrud }} 
<div style="padding:20px">
  <app-tabledata2
    [varModelTable]="varmodelTable"
    (MYIDOut)="setIDOnForm($event)"
    (MYIDOutDelete)="OnDelete($event)"
    *ngIf="stageCrud"
  ></app-tabledata2>
</div>

routerLinkActive="active" -->
