.inputDate {

  width: calc(100% - 40px) ;
  border-right: 0px solid whitesmoke;
  border-radius: 8px 0px 0px 8px;
}
.flex { display: flex; flex-direction: row ;}
.btnDate { border-radius: 0px 8px 8px 0px;}