<h2>Category</h2>
<div style="height:35px"></div>
<div style="display:flex;margin-left:10px;margin-bottom:20px">
  <button
    [routerLink]="['/departmentForm/new']"
    style="background:#63b1b1;color:white;border:none;padding:5px;padding-left:10px;padding-right:10px"
  >
    เพิ่มข้อมูล
  </button>

  <button
    [routerLink]="['/departmentForm/new']"
    style="margin-left:10px;background:#0000ff;color:white;border:none;padding:5px;padding-left:10px;padding-right:10px"
  >
    Import
  </button>
</div>

<h3>เลือกแผนกสินค้า....</h3>

<!-- <div class="dropdown">
  <app-searchselect
    [apiPath]="'/th/department/All/1'"
    (myListChange)="BShowNumBerChange($event)"
  ></app-searchselect>
</div> -->

<app-out-select
  [apiPathInput]="'th/department/All/1'"
  (myListChange)="BShowNumBerChange($event)"
></app-out-select>
<h2>Category Child</h2>
<app-out-select
  [apiPathInput]="'th/department/All/1'"
  [ModelName]="'department'"
  (myListChange)="BShowNumBerChange($event)"
></app-out-select>

<app-tabledata2
  [varModelTable]="varmodelTable"
  (MYIDOutDelete)="OnDeletecategory($event)"
></app-tabledata2>
