<h2>category</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="padding:20px">
  Value: {{ myForm.value | json }}
  <!-- <button (click)="getByID()">Get ByID</button> -->
  Mode: {{ FormMode }}
  <div class="modal-content" id="myModal" *ngIf="stageForm">
    <div class="modal-header" style="background-color:lightgrey">
      <h5 class="modal-title" id="exampleModalLabel">{{ formTitle }}</h5>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
      <!-- id -->
      <div class="mt-3">
        <input
          type="hidden"
          class="form-control"
          formControlName="id"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <!-- รหัสหมวดสินค้า -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          รหัสหมวดสินค้า
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="categorycode"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.categorycode.touched && f.categorycode.errors?.required"
      >
        กรุณาป้อนค่า รหัสหมวดสินค้า </span
      ><!-- lang -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          lang
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="lang"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.lang.touched && f.lang.errors?.required"
      >
        กรุณาป้อนค่า lang </span
      ><!-- ชื่อหมวดสินค้า -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          ชื่อหมวดสินค้า
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="categoryDesc"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.categoryDesc.touched && f.categoryDesc.errors?.required"
      >
        กรุณาป้อนค่า ชื่อหมวดสินค้า </span
      ><!-- imageName -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          imageName
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="imageName"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.imageName.touched && f.imageName.errors?.required"
      >
        กรุณาป้อนค่า imageName </span
      ><!-- grandParentCode -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          grandParentCode
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="grandParentCode"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.grandParentCode.touched && f.grandParentCode.errors?.required"
      >
        กรุณาป้อนค่า grandParentCode </span
      ><!-- departmentID -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          departmentID
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="departmentID"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.departmentID.touched && f.departmentID.errors?.required"
      >
        กรุณาป้อนค่า departmentID </span
      ><!-- TotalProduct -->
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label" style="">
          TotalProduct
        </label>
        <input
          type="number"
          class="form-control"
          formControlName="TotalProduct"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <span
        class="text-danger"
        *ngIf="f.TotalProduct.touched && f.TotalProduct.errors?.required"
      >
        กรุณาป้อนค่า TotalProduct
      </span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeForm()">
        ออก
      </button>
      <button type="submit" class="btn btn-primary">บันทึก</button>
    </div>
  </div>
  <!-- <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
      Register  
    </button>
    
    
  </div> -->
</form>
<!-- <app-searchselect></app-searchselect> -->
<hr />
<div class="flex" style="display:flex" *ngIf="stageCrud">
  <button
    class="btn btn-primary"
    placement="bottom"
    ngbTooltip="Delete"
    (click)="setStageForm(); newForm()"
    style="margin-left:auto;margin-right:10px"
  >
    เพิ่มข้อมูล
  </button>
</div>

<!-- สถานะ :: {{ stageCrud }} 
<div style="padding:20px">
  <app-tabledata2
    [varModelTable]="varmodelTable"
    (MYIDOut)="setIDOnForm($event)"
    (MYIDOutDelete)="OnDelete($event)"
    *ngIf="stageCrud"
  ></app-tabledata2>
</div>

 routerLinkActive="active" -->
