<p>tabledata1 works!</p>

<!-- 
<section>
  <div class="card shadow my-2">
    <div class="card-header">
      <div class="row flex-between-center">
        <div class="col-md-4 d-flex align-items-center pe-0">
          <h5 class="mb-0 text-nowrap py-2 py-xl-0">Employee List</h5>
        </div>
        <div class="col-md-8 ms-auto text-end ps-0">
          <h6>Total : {{ totalrow }}</h6>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped table-hover mb-0">
          <thead>
            <tr>
              <th *ngFor="let txt of headerTable">{{ txt }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees">
              <td>{{ emp.firstName }}</td>
              <td>{{ emp.lastName }}</td>
              <td>{{ emp.email }}</td>
              <td>{{ emp.phoneNumber }}</td>
              <td class="white-space-nowrap">
                <a
                  class="btn btn-outline-success"
                  placement="bottom"
                  ngbTooltip="Edit"
                >
                  <i class="bi bi-pencil"></i>
                </a>
                <button
                  (click)="delete(emp)"
                  class="btn btn-outline-danger"
                  placement="bottom"
                  ngbTooltip="Delete"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="totalrow === 0">
              <td colspan="5">
                <div class="alert alert-danger">Employee not found</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<footer class="border-top text-muted fixed-bottom p-2">
  <div class="container text-center">
    <a routerLink="/employee/add" class="btn btn-success">
      <i class="bi bi-plus"></i>
    </a>
  </div>
</footer> -->
