<div id="" class="bordergray flex headBar" style="border:1px solid #eee,border-radius: 4px;color:#333333;padding:5px 10px;font-size:20px;font-weight:bold;sssbackground:crimson;color:white;opacity:0.8">
  <div id="" class="bordergray flex" style="border:1px solid #eee,border-radius: 4px;">
  ใบแจ้งขอใบเสนอราคา/ใหม่      
  </div>
  
     
   <div class="flex" style="margin-left:auto;font-size:12px;margin-right:30px">           
   
    <div style="margin-right:10px"><i class="far fa-file" style="font-size:16px"></i> เริ่มใหม่  </div>
    <div style="margin-right:10px"><i class="fas fa-print" style="font-size:16px"></i>  พิมพ์ </div>
     <div> <i class="fas fa-globe" style="font-size:16px"></i>    การดำเนินการ </div>
   </div>
  
  
  
    
  </div>